#ctr-panel {
  position: absolute;
  top: 0;
  transition: bottom 0.2s ease;

  button {
    box-sizing: border-box;
    color: $cream;
    border-radius: 5px;
    padding: 8px 10px;
    margin: 10px;
    background-image: linear-gradient(180deg, $blue, rgba($blue, 0.4));
    cursor: pointer;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
          -ms-user-select: none;
              user-select: none;      

    &:hover {
      background-image: linear-gradient(180deg, rgba($olive, 0.6), rgba($olive, 0.4));
    }

    &:active {
      background-image: linear-gradient(180deg, rgba($olive, 0.4), rgba($olive, 0.2));
    }

    
    &.active {
      background-image: linear-gradient(180deg, rgba($olive, 0.6), rgba($olive, 0.2));
      color: $blue;
      
      &:active {
        background-image: linear-gradient(180deg, rgba($olive, 0.4), rgba($olive, 0.4));
      }
    }
  }
}

#bkgd-buttons {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease;

  &.show {
    height: auto;
    height: 282px;
  }

  label, input {
    cursor: pointer;
    margin: 5px;
    border-radius: 3px;
    padding-right: 5px;
  }

  label:hover {
    background-color: rgba($blue, 0.5);
  }


  p, label {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  p {
    margin: 0 5px;
    font-size: 0.85em;

    &:last-of-type {
      text-align: right;
      margin-bottom: 5px;
    }
  }
}

#bkgd-modes {
  display: flex;
  flex-direction: column;
  margin: 5px 0;

  button {
    margin: 0 5px;
    border-radius: 0;

    &:first-of-type {
      border-radius: 5px 5px 0 0;
    }

    &:last-of-type {
      border-radius: 0 0 5px 5px;
    }
  }
}